@font-face {
    font-family: 'Biennale Regular';
    src: urg('BiennaleRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Light';
    src: urg('BiennaleLight.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Bold';
    src: urg('BiennaleBold.otf') format('opentype');
}